# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Create a Jupyter Notebook
- Insert code and markdown cells
- List popular languages for Data Science
- Share your notebook through GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

|Data Science Tools|
|------------------|
|Apache Hadoop|
|Apache Spark|
|Apache Flink|

### Below are a few examples of evaluating arithmetic expressions in Python
# Addition
15 + 1.2

# Subtraction
15 - 1.2

# Multiplication
15 * 1.2

# This is a simple arithmetic expression to multiply and then add integers

In [25]:
(3 * 4) + 5

17

# This will convert 200 minutes to hours by dividing by 60

In [20]:
200 / 60

3.3333333333333335

## Author 
Laura Joanno